<?xml version="1.0" encoding="UTF-8"?>
<!-- {generated} -->

<project name="{project_name}" default="build" basedir=".">

 <!-- some variables for ease of use -->
 <property name="builddir" value="${basedir}/build"/>
 <property name="apidir" value="${builddir}/api"/>
 <property name="code-browserdir" value="${builddir}/code-browser"/>
 <property name="coveragedir" value="${builddir}/coverage"/>
 <property name="logsdir" value="${builddir}/logs"/>
 <property name="pdependdir" value="${builddir}/pdepend"/>
 <property name="source" value="{source_property}"/>
 <property name="source_comma_sep" value="{source_property_comma}"/>

 <target name="clean" description="Clean up and create artifact directories">
  <delete dir="${apidir}"/>
  <delete dir="${code-browserdir}"/>
  <delete dir="${coveragedir}"/>
  <delete dir="${logsdir}"/>
  <delete dir="${pdependdir}"/>

  <mkdir dir="${apidir}"/>
  <mkdir dir="${code-browserdir}"/>
  <mkdir dir="${coveragedir}"/>
  <mkdir dir="${logsdir}"/>
  <mkdir dir="${pdependdir}"/>
 </target>

 <target name="phpunit" description="Run unit tests using PHPUnit and generates junit.xml and clover.xml">
  <exec executable="phpunit" failonerror="true"/>
 </target>

 <target name="parallelTasks" description="Run the pdepend, phpmd, phpcpd, phpcs, phpdoc and phploc tasks in parallel using a maximum of 2 threads.">
  <parallel threadCount="2">
   <sequential>
    <antcall target="pdepend"/>
    <antcall target="phpmd"/>
   </sequential>
   <antcall target="phpcpd"/>
   <antcall target="phpcs"/>
   <antcall target="phpdoc"/>
   <antcall target="phploc"/>
  </parallel>
 </target>

 <target name="pdepend" description="Generate jdepend.xml and software metrics charts using PHP_Depend">
  <exec executable="pdepend">
   <arg value="--jdepend-xml=${logsdir}/jdepend.xml"/>
   <arg value="--jdepend-chart=${pdependdir}/dependencies.svg"/>
   <arg value="--overview-pyramid=${pdependdir}/overview-pyramid.svg"/>
   <arg path="${source_comma_sep}"/>
  </exec>
 </target>

 <target name="phpmd" description="Generate pmd.xml using PHPMD">
  <exec executable="phpmd">
   <arg path="${source_comma_sep}"/>
   <arg value="xml"/>
   <arg value="{phpmd_rules}"/>
   <arg value="--reportfile"/>
   <arg file="${logsdir}/pmd.xml"/>
  </exec>
 </target>

 <target name="phpcpd" description="Generate pmd-cpd.xml using PHPCPD">
  <exec executable="phpcpd">
   <arg value="--log-pmd"/>
   <arg file="${logsdir}/pmd-cpd.xml"/>
   <arg path="${source}"/>
  </exec>
 </target>

 <target name="phploc" description="Generate phploc.csv">
  <exec executable="phploc">
   <arg value="--log-csv"/>
   <arg file="${logsdir}/phploc.csv"/>
   <arg path="${source}"/>
  </exec>
 </target>

 <target name="phpcs" description="Generate checkstyle.xml using PHP_CodeSniffer">
  <exec executable="phpcs">
   <arg value="--report=checkstyle"/>
   <arg value="--report-file=${logsdir}/checkstyle.xml"/>
   <arg value="--standard={phpcs_rules}"/>
   <arg path="${source}"/>
  </exec>
 </target>

{apidoc}
 <target name="phpcb" description="Aggregate tool output with PHP_CodeBrowser">
  <exec executable="phpcb">
   <arg value="--log"/>
   <arg path="${logsdir}"/>
   <arg value="--output"/>
   <arg path="${code-browserdir}"/>
  </exec>
 </target>

 <target name="build" depends="clean,parallelTasks,phpunit,phpcb"/>
</project>
