 <target name="phpdoc" description="Generate API documentation using PHPDocumentor">
  <exec executable="phpdoc">
   <arg value="--directory"/>
   <arg path="${source}"/>
   <arg value="--target"/>
   <arg path="${apidir}"/>
  </exec>
 </target>
