 <target name="phpdoc" description="Generate API documentation using PHPDocumentor">
  <exec executable="phpdoc">
   <arg line="--directory ${source}
              --target    ${apidir}" />
  </exec>
 </target>
